@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Força o navegador a usar modo CLARO sempre */
  color-scheme: light; 
  
  /* Cores Base do Tema Clean */
  color: #111827; /* Texto quase preto (confortável) */
  background-color: #f9fafb; /* Fundo Cinza Gelo (Gray-50) */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: start; /* Alinha o site no topo, não forçado no centro */
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* Removemos o text-align center para não centralizar textos de tabelas sem querer */
}
