@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Configuração essencial de cores */
  color-scheme: light;
  color: #111827;           /* Texto escuro */
  background-color: #f9fafb; /* Fundo Cinza Gelo (Gray-50) */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* AQUI ESTAVA O PROBLEMA: Removemos o flex e o center */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f9fafb; /* Garante que não sobra preto */
}

/* AQUI TAMBÉM: Removemos o max-width */
#root {
  width: 100%;
  margin: 0;
  padding: 2rem;
  /* Agora o site vai usar a largura total da tela */
}
